*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  height: 50px;
  background-color: black;
}

footer{
  height: 100px;
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
  color: white;
}

main{
  height: calc(100vh - 150px);
  overflow-y: scroll;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: black;
}

.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-content: center;
}

.f-end{
  justify-content: flex-end;
}


/* 
  HEADER 
*/

.view-tools{
  align-items: center;
}

.view-change, .view-expand{
  background-color: #4a4a4a;
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 5px;
  height: 50%;
  color: white;
  align-items: center;
}

.view-tools ul li{
  list-style: none;
}

/* 
  /HEADER 
*/


/* 
  MAIN 
*/

.avatar-box{
  position: relative;
  background-color: lightsalmon;
  height: 200px;
  width: 300px;
  margin: 5px;
}

.avatar-box img{
  width: 100%;
  height: auto;
  
} 

.avatar-info{
  position: absolute;
  left:0;
  bottom: 0;
  padding: 8px 10px;
  background-color: rgba(10,10,10, 0.5);
  color: white;
}

/* 
  /MAIN 
*/


/* 
  FOOTER 
*/

.footer-element{
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex-shrink: 0;
}

.fa-solid.active{
  color: greenyellow;
}

.footer-element .fa-solid{
  font-size: 35px;
  padding-bottom: 10px;
}

.col-left ul li,
.col-mid ul li{
  list-style: none;
  margin-right: 5px;
  flex-shrink: 0;
}

.col-left ul,
.col-mid ul{
  align-items: center;
}

.col-left,
.col-mid,
.col-right{
  flex-shrink: 0;
}


.col-right{
  color: red;
  background-color: grey;
  padding: 10px;
  align-self: stretch;
}

.end-button{
  align-items: center;
}

/* 
  /FOOTER 
*/
