*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: black;
}

footer{
  height: 100px;
  background-color: black;
}

main{
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-content: center;
}

.f-end{
  justify-content: flex-end;
}

.view-tools{
  align-items: center;
}

.view-change, .view-expand{
  background-color: #4a4a4a;
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 5px;
  height: 50%;
  color: white;
  align-items: center;
}

.view-tools ul li{
  list-style: none;
}